<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Display Webcam Stream</title>
    <script src="static/js/capture.js"></script>
    <style>
    </style>
</head>
 
<body>
<div id="container">
	<div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button> 
        <button id="facedetect">Test recognition</button> 
    </div>
    <div class="output">
        <canvas id="canvas">
        </canvas>
        <div id="facerecognized" style="font-size: 16px; font-weight: bold;"></div>
    </div>
    <div>
        Name: <input  id="username" type="text" />
        <button id="uploadphoto">Upload photo</button> 
        <div id="error"></div>
    </div>
</div>
</body>
</html>